*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    color: #636363;
    line-height: 1.6;
}

:root {
    --animate-duration: 2s
}

.container{
    max-width: 1199px;
    margin: auto;
}

.title{
    text-align: center;
}

.title--left{
    text-align: left;
}

.title h2{
    font-size: 70px;
    font-weight: 800;
    color: #262626;
    line-height: 1.1;
    margin-bottom: 20px;
}

.title h5{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #f55f8d;
}

.click{
    font-size: 15px;
    padding: 20px 35px;
    border-radius: 30px;
    color: #fff;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    cursor: pointer;
    border: 1px solid transparent;
    text-transform: uppercase;
    transition: all .5s;
}

.click:hover{
    background-position: right center;
}

section{
    padding-top: 115px;
}

li{
    list-style: none;
}

h3{
    color: #262626;
}

/* HEADER */

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.header__content nav{
    display: flex;
    align-items: center;
}

.header__content ul{
    display: flex;
    margin-right: 30px;
}

.header__content ul li{
    padding: 55px 15px;
}

.header__content ul a{
    text-decoration: none;
    color: #070120;
    font-weight: 500;
    text-transform: capitalize;
    transition: all .3s;
}

.header__content ul a:hover{
    color: #f55f8d;
}

.header__content span{
    display: inline-block;
}

.header__content a:hover span{
    animation: upToDown .3s forwards;
}

.header__content i{
    font-size: 9px;
    margin-top: -3px;
    vertical-align: middle;
}

/* CAROUSEL */
.saCarousel{
    padding-top: 180px;
    background-image: url(../Img/pic2.png);
    background-size: 100%;
    overflow: hidden;
}

.saCarousel .container{
    display: flex;
    align-items: center;
}

.saCarousel__left{
    width: 60%;
}

.saCarousel__left ul{
    margin-bottom: 20px;
}

.saCarousel__right{
    width: 40%;
    padding-left: 50px;
}

.saCarousel__img{
    width: 570px;
}

.saCarousel__img img{
    max-width: 100%;
    display: block;
}

.saCarousel i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    font-size: 24px;
}

.saCarousel__article p{
    font-size: 18px;
    margin: 20px 0;
}

.saCarousel__article li{
    font-size: 20px;
    padding: 10px 5px 10px 0;
}

/* SERVICES */
.services{
    background-image: url(../Img/bg2.png);
}

.services__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    gap: 25px;
}

.services__item{
    padding: 30px 45px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all .5s;
}

.services__item h3{
    font-size: 24px;
    padding: 15px 0;
}

.services__item:hover{
    transform: translateY(-20px);
}

.services__item img{
    width: 215px;
}

/* ABOUTUS */
.aboutus{
    background-image: url(../Img/bg15.png);
    background-position: center right;
    background-size: 100%;
    padding-bottom: 85px;
    background-repeat: no-repeat;
}
.aboutus__content{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}
.aboutus__left{
    width: 60%;
    position: absolute;
    left: -17%;
}

.aboutus__left img{
    width: 100%;
    border-radius: 0 100px 100px 0;
}

.aboutus__right{
    width: 50%;
}

.aboutus__right ul{
    margin: 15px 0 30px;
}

.aboutus__right i{
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
}

/* NUMBER */
.number{
    background-image: url(../Img/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
}
.number__content{
    display: flex;
    justify-content: space-between;
}

.number__item{
    width: 25%;
    text-align: center;
}

.number__item i{
    display: inline-block;
    width: 80px;
    height:  80px;
    line-height: 80px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 50%;
    margin-bottom: 15px;
    color: #fff;
    font-size: 45px;
}

.number__item p:first-of-type{
font-size: 65px;
line-height: 1;
color: #f55f8d;
font-weight: 800;
}

.number__item p:last-of-type{
    color: #262626;
    font-size: 18px;
}

/* FEATURES */
.features{
    background-image: url(../img/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.features__content{
    display: flex;
}

.features__left{
    width: 50%;
}

.features__item{
    padding: 0 50px 30px 0;
}

.features__bg{
    display: flex;
    align-items: center;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
}

.features__text{
    z-index: 1;
}

.features__bg::after{
    content: '';
    position: absolute;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s;
}

.features__bg:hover::after{
    opacity: 1;
}

.features__item i{
    display: inline-block;
    font-size: 70px;
    text-align: center;
    color: #f55f8d;
    padding-right: 25px;
    z-index: 1;
    transition: all 1s;
}

.features__item:hover i, .features__item:hover h3, .features__item:hover p{
    color: #fff;
}

.features__item h3{
    transition: all 1s;
}

.features__item p{
    transition: all 1s;
}

.features__item:nth-of-type(2){
    padding: 0 0 30px 50px;
}

.features__right{
    width: 50%;
}

.features__banner{
    margin-right: -80px;
}

.features__right img{
    max-width: 100%;
    animation: move2 5s infinite;
}

/* PORTFOLIO */
.portfolio{
    background-image: url(../Img/bg17.png);
    background-size: cover;
    background-position: top center;
}

.portfolio__content{
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 35px;
}

.portfolio__item{
    position: relative;
    overflow: hidden;
    transition: all .75;
}

.portfolio__item::before{
    content: '';
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    top: 0;
    left: -100%;
    background: linear-gradient(to right, rgba(255,255,255,0) 0, rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    transition: all .75s;
}

.portfolio__item:hover::before{
    left: 125%;
}

.portfolio__item img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.portfolio__overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: all .75s;
}

.portfolio__item:hover .portfolio__overlay{
    opacity: 1;
}

.portfolio__icon i{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: #fff;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
    opacity: 0;
    cursor: pointer;
    transition: all .75s;
}

.portfolio__item:hover i{
    transform: translate(-20px, 20px);
    opacity: 1;
}

.portfolio__text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    transform: translateY(90px);
    transition: all .75s;
}

.portfolio__item:hover .portfolio__text{
    transform: translateY(0);
}

.portfolio__text h3{
    color: #fff;
    font-size: 22px;
    font-weight: 800;
}

.portfolio__text p{
    opacity: 0.7;
}

.portfolio_item1{
    grid-column: 1/3;
}

.portfolio_item5{
    grid-column: 1/3;
}

.portfolio_item6{
    grid-column: 3/4;
    grid-row: 2/4;
}

/* PLAN */
.plan{
    text-align: center;
    background-image: url(../Img/bg16.png);
    background-position: center;
    background-size: cover;
}

.plan__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
    margin-top: 40px;
}

.plan__item{
    background-color: #fff;
    padding: 35px 60px;
    border-radius: 10px;
    box-shadow: 1px 0 50px rgb(0, 0, 0,.1);
    border: 3px solid transparent;
    border-image: 100 round;
    transition: all .5s;
}

.plan__item:hover{
    border-image: url(../Img/br.png) 1 round;
}

.plan__item li{
    text-align: left;
}

.plan__item img{
    width: 125px;
}

.plan__item h3{
    font-weight: 700;
    font-size: 32px;
}

.plan__item p, .plan__item li{
    font-size: 18px;
    font-weight: 600;
    color: #262626;
}
.plan__item span{
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}

.plan__item ul{
    padding: 15px 0;
    border-top: 1px solid #e1e1f0;
}

.plan__item li{
    padding: 5px 0;
    font-weight: 400;
}

.plan__item i{
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 50%;
    margin-right: 15px;
}

/* TESTIMONIAL */
.testimonial{
    text-align: center;
    background-image: url(../img/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.testimonial__content{
    min-height: 300px
}
.testimonial__thumbs{
    width: 300px;
    height: 170px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.testimonial__thumbs::before, .testimonial__thumbs::after{
    content: '';
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    z-index: 2;
    background-color: red;
}

.testimonial__thumbs::before{
    left: 0;
    background: linear-gradient(to right, #fff 0, rgba(255,255,255,0) 100%);
}

.testimonial__thumbs::after{
    right: 0;
    background: linear-gradient(to left, #fff 0, rgba(255,255,255,0) 100%);
}

.testimonial__thumbs .testimonial__pic{
    padding-top: 30px;
    transition: all .5s ;
}

.testimonial__thumbs .testimonial__pic img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
    background-color: #f55f8d;
    position: relative;
    z-index: 2;
}

.testimonial__pic::before{
    width: 15px;
    height: 15px;
    bottom: 30px;
}

.testimonial__pic::after{
    width: 10px;
    height: 10px;
    bottom: 0;
}

.testimonial__pic::before, .testimonial__pic::after{
    content: '';
    position: absolute;
    background-color: #f55f8d;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.swiper-slide-thumb-active .testimonial__pic::before, .swiper-slide-thumb-active .testimonial__pic::after{
    opacity: 1;
}

.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic{
    padding: 0;
}

.shape-bx{
    position: relative;
    width: 50px;
    height: 35px;
    bottom: 10px;
    background-color: #f55f8d;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.shape-bx::before{
    content: '';
    position: absolute;
    background-image: url(../img/pattern12.png);
    background-size: contain;
    background-position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: all 1s;
}

.swiper-slide-thumb-active .testimonial__pic .shape-bx{
    opacity: 1;
}

.testimonial__comment{
    height: 280px;
    width: 100%;
    overflow: hidden;
}

.testimonial__text{
    background-color: #fff;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 770px;
    box-shadow: 0 10px 20px 0 rgb(0, 0, 0, .1);
    font-size: 18px;
    position: relative;
}

.testimonial__text i{
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}

.testimonial__text h3{
    font-size: 22px;
}
.testimonial__text p{
    font-style: italic;
}

.testimonial__text p:first-of-type{
    color: #f55f8d;
}

.testimonial__text p:last-of-type{
    padding: 30px 10px 10px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal,.testimonial .swiper-horizontal>.swiper-pagination-bullets {
    bottom: auto;
}

.swiper-pagination-bullet-active{
    background-color: #f55f8d;
}


/* BLOG */
.blog{
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: top center;
    padding-bottom: 50px;
}

.blog__item{
    border-radius: 8px;
    background-color: rgba(245,95,141,.1);
}

.blog__item img{
    width: 100%;
    border-radius: 10px;
}


.blog__body{
    padding: 30px 15px;
    line-height: 1.4;
    position: relative;
}

.blog__body::after{
    content: '23 MARCH 2022';
    position: absolute;
    color: #fff;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    line-height: 40px;
    top: -20px;
    left: 15px;
    padding: 0 20px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
}

.blog__body h3{
    font-weight: 700;
    font-size: 24px;
}

.blog__footer{
    display: flex;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, .05);
    font-size: 14px;
}

.blog__footer p:first-of-type{
    margin-right: 20px;
}

.blog__footer span{
    color: #f55f8d;
}

.blog__footer i{
    font-size: 24px;
    color: #f55f8d;
    vertical-align: sub;
}

/* FOOTER */
footer {
    color: #fff;
    font-size: 15px;
    background-image: url(../img/bg4.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #0e1b1f;
    height: auto;
    position: relative;
}

footer::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__top{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 50px 60px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0, 0, 0, .1);
    background-image: url(../img/pattern3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

.footer__text{
    width: 50%;
    font-size: 28px;
}

.footer__form{
    width: 50%;
    border-radius: 8px;
}

.footer__form form{
    display: flex;
    box-shadow: 0 0 60px 0 rgb(0, 0, 0, .1);
}

.footer__form input{
    flex: 1 1 auto;
    padding: 20px;
    font-size: 15px;
    border-radius: 8px 0 0 8px;
    border: 1px solid #fff;
    outline: 0;
    transition: all .5s;
}

.footer__form input:focus, .footer__form input:hover{
    border-color: #f55f8d;
}

.footer__form button{
    font-size: 20px;
    border-radius: 0 8px 8px 0;
}

.footer__form button:hover i{
    animation: toLeftFromRight .5s forwards;
    display: inline-block;
}

.footer__bottom{
    display: flex;
    padding: 70px 0;
    position: relative;
}

.footer__item{
    width: 25%;
}

.footer__item li{
    display: flex;
    padding: 8px 0;
}

.footer__item h3{
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
}

.footer__item h3::before{
    width: 15px;
}

.footer__item h3::before, .footer__item h3::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);;
    height: 4px;
    background-size: 200%;
    border-radius: 20px;
}

.footer__item h3::after{
    width: 45px;
    left: 20px;
}

.footer__contact{
    margin-top: 10px;
}

.footer__contact li{
    align-items: center;
}

.footer__contact i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    margin-right: 10px;
}

.footer__item a{
    text-decoration: none;
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}

.footer__item a:hover{
    color: #fff;
}

.footer__item i{
    margin-right: 10px;
}

.footer__copyright{
    padding: 10px 0;
    background-color: #1f343b;
    position: relative;
}

.footer__content{
    display: flex;
    justify-content: space-between;
}

.footer__copyright span{
    color: #f55f8d;
}

.footer__copyright i{
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(255,255,255,.1);
    font-size: 14px;
    color: #fff;
    transition: all .5s;
}

.footer__copyright i:hover{
    background-color: #f55f8d;
}

/* BackToTop */
.BackToTop {
    display: block;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #f55f8d;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
}

.fa-arrow-up{
    line-height: 50px;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

/* KEYFRAME */
@keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }

@keyframes move2{
    0% {
        transform: rotate(1deg) translate(2px,2px);
    }
    50% {
        transform: rotate(-1deg) translate(-2px,-2px);
    }
    100% {
        transform: rotate(1deg) translate(2px,2px);
    }
}

@keyframes toLeftFromRight {
    49% {
        transform: translateX(100%);
    }
    50% {
        opacity: 0;
        transform: translateX(-100%);
    }
    51% {
        opacity: 1;
    }
}


/* END */